
<div class="nav-container">
<nav>
    <ul class="list-inline pull-right nav navbar-nav">
        <li><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
        <li><a href="{{site.baseurl}}/resume.html">Resume</a></li>
        <li><a href="{{site.baseurl}}/blog.html">Blog</a></li>
        <li><a href="{{site.baseurl}}/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
    </ul>
</nav>
</div>
<br>

